*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    margin: auto;
    display: flex;
    
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    
}
.gallery > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

a{
    text-align: center;
}

.p1{
    margin: 20px auto;
    width:60%;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    background-color:#EEEECC;
    color : #222222;
    border-left-style: solid;
    border-right-style: solid;
    box-shadow: 0px 0px 5px 0px rgba(64, 64, 64, 0.5);

}
body{
    
    background: #ededed;
}

header{
    margin: 20px auto;
    width:90%;
    border-radius: 10px;
    text-align: center;
}

header {
    background-color:#EEEECC;
    color : #222222;
    border-left-style: solid;
    border-left-color : blue;
    border-left-width: 5px;
    box-shadow: 0px 0px 5px 0px rgba(64, 64, 64, 0.5);
}

header{
    font-size: 25px;
    padding: 7px;
    margin-bottom : 10px;
}
